.paper {
  padding: 30px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 20px;
}
.textField {
  margin-top: 80px;
  color: red;
}
.buttonSubmit {
  margin-bottom: 10px;
}
